<form>
  <label for="titulo">Titulo:</label>
  <input class="form-control" id="titulo" type="text" name="titulo" />

  <label for="resumen">Resumen:</label>
  <input class="form-control" id="resumen" type="text" name="resumen" />

  <label for="duracion">Duración (Minutos):</label>
  <input class="form-control" id="duracion" type="number" name="duracion" />

  <label for="productora">Productora:</label>
  <input class="form-control" id="productora" type="text" name="productora" />

  <label for="sala">Sala:</label>
  <input class="form-control" id="sala" type="text" name="sala" />

  <button class="btn btn-primary">Añadir</button>
</form>
